/**
 * @file Admin styles for the mailadmin module
 */

#mailadmin-mailbox-edit-form .address .form-item,
#mailadmin-forward-form .address .form-item {
  float: left;
}

#mailadmin-mailbox-edit-form .address .at,
#mailadmin-forward-form .address .at {
  margin: 22px 3px 0;
}
